{% extends "base.html" %}

{% block title %}
<title>Main page</title>
{% endblock %}

{% block jumbotron %}
<h1>Main page</h1>

<form action="/twine2" method="post" enctype="multipart/form-data">
    Import HR Game [<a href="">Twine 2 Tutorial</a>]
    <input type="file" name="raw" />
    <input type="submit"/>
</form>

<form action="/twine" method="post" enctype="multipart/form-data">
    Import Twine Game [<a href="http://ifdb.tads.org/search?sortby=rcu&newSortBy.x=0&newSortBy.y=0&searchfor=Twine">Archive</a>]
    <input type="file" name="raw" />
    <input type="submit"/>
</form>
{% endblock %}